@charset "UTF-8";

body {
	background-image: url("https://minuteastrologer.files.wordpress.com/2015/06/sunsetmars.jpg");
	font: 100% Times, serif;
	/*Old Map Background https://static.squarespace.com/static/51c071efe4b03a0f7c9c5a62/t/51d19e99e4b02caa0041753c/1372692121774/shutterstock_34745752%202.jpg */
	/*Mars Background https://minuteastrologer.files.wordpress.com/2015/06/sunsetmars.jpg */
}
h1 {
	font: 300% Times, Helvetica, sans-serif;
	color: black ;
	text-shadow: 1px 1px white;
}

h2 {
	font: Times;
	color: black;
	text-shadow: 1px 1px white;
}

p {
	color: black;
}

mark {
	background-color: white;
	color: black;
	text-shadow: 1px 1px white;
}
#wrapper {
	width: 1100px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
	color: black;
}
header#mainHeader {
	height: 185px;
	color: white;
	background: url(images/logo.png) no-repeat 25px center;
	padding: 0 75px 0 300px;
	position: relative;
	border-bottom: 2px solid black;
	margin-bottom:16px;
	text-shadow: 1px 1px white;
}
header#mainHeader div{
	margin-top: 16px;
	
}
header#mainHeader ul{
	list-style: none;
	float: left;
}
header#mainHeader ul li {
	float: left;
}
header#mainHeader ul li a {
	font-family: Times, Helvetica, sans-serif;
	font-size:20px;
	color: black;
	padding: 0 20px;
	border-right: 1px solid black;
	text-decoration: none;
	text-shadow: 1px 1px white;
}
header#mainHeader ul li a.last{
	border:none;
}
header#mainHeader ul li a:hover{
	color: black;
	text-shadow: 1px 1px white;
}

section#content {
	float: left;
	width: 600px;
	padding: 0 10px 0 25px;
	margin-bottom: 10px;
	border-right: 1px solid #181818;
}

section#content p {
	color: black;
	line-height: 1.6;
	margin-bottom: 10px;
	text-shadow: 1px 1px white;
}

section#content li {
	color: black;
	text-shadow: 1px 1px white;
}

aside#hobbies {
	font-size: 90%;
	float: right;
	width: 450px;
	margin-bottom: 20px;
	text-shadow: 1px 1px white;	
}

footer#pageFooter {
	clear: both;
	border-top: 2px solid black;
	padding: 20px;
}

footer#pageFooter p {
	text-align: center;
	font-style: italic;
	margin-bottom: 10px;
	color: black;
	text-shadow: 1px 1px white;
}